# Importing Libraries

In [2]:
import numpy as numpy
import pandas as pd

# Importing Dataset

In [3]:
movies=pd.read_csv('./dataset/tmdb_5000_movies.csv')
credits=pd.read_csv('./dataset/tmdb_5000_credits.csv')

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Preprocessing

In [6]:
# merging dataframes
movies = movies.merge(credits,on='title')

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
# only selecting genres,id,keywords,title,overview,cast,crew
# to check any value with count use movies['param'].value_counts()
# todo: incorporating release_date

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [9]:
# collecting data to handle null errors
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
# droping the null values
movies.dropna(inplace=True)

In [11]:
# checking for duplicate data
movies.duplicated().sum()

0

In [12]:
# to make genre and keywords into ['abc','def'] format
import ast

def preprocess_keywords_and_genres(obj):
    genre=[]
    for dic in ast.literal_eval(obj): # converting genre from string of list to list
        genre.append(dic['name'])
    return genre

In [14]:
movies['genres'] = movies['genres'].apply(preprocess_genre)

In [15]:
movies['keywords'] = movies['keywords'].apply(preprocess_genre)

In [ ]:
# to get the first 3 actors from the cast

def preprocess_genre(obj):
    genre=[]
    for dic in ast.literal_eval(obj): # converting genre from string of list to list
        genre.append(dic['name'])
    return genre